{% extends 'base/front_base.html' %}
{% block title %}
    知了課堂-課程首頁
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/course/course_index.min.css' %}">

{% endblock %}
{% block main %}
    <div class="main">
        <div class="course-nav">
            <div class="nav-container">
                <h3 class="title">在線課堂</h3>
                <ul class="nav-list">
                    <li class="active"><a href="#">最新課堂</a></li>
                    <li><a href="#">投資人說</a></li>
                    <li><a href="#">明星案例</a></li>
                    <li><a href="#">創業知識</a></li>
                </ul>
            </div>
        </div>
           <div class="wrapper">
        <div class="course-list">
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail">
                    </div>
                    <div class="course-info">
                        <p class="title">對賭什麼 該不該做對賭</p>
                        <p class="author">知了課堂CEO</p>
                        <p class="price-group"><span class="free">免費</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail">
                    </div>
                    <div class="course-info">
                        <p class="title">對賭什麼 該不該做對賭</p>
                        <p class="author">知了課堂CEO</p>
                        <p class="price-group"><span class="free">免費</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail">
                    </div>
                    <div class="course-info">
                        <p class="title">對賭什麼 該不該做對賭</p>
                        <p class="author">知了課堂CEO</p>
                        <p class="price-group"><span class="free">免費</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail">
                    </div>
                    <div class="course-info">
                        <p class="title">對賭什麼 該不該做對賭</p>
                        <p class="author">知了課堂CEO</p>
                        <p class="price-group"><span class="free">免費</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="thumbnail-group">
                        <img src="https://static-image.xfz.cn/1537239292_214.png-course.list.small" alt=""
                             class="thumbnail">
                    </div>
                    <div class="course-info">
                        <p class="title">對賭什麼 該不該做對賭</p>
                        <p class="author">知了課堂CEO</p>
                        <p class="price-group"><span class="free">免費</span></p>
                    </div>
                </a>
            </li>
        </div>
    </div>
    </div>
{% endblock %}
