<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了課堂</title>
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_681895_w5poic4qj6vfgvi.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="../../src/js/index.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="/">創業資訊</a></li>
            <li><a href="#">創業課堂</a></li>
            <li><a href="#">付費資訊</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="#">登錄</a> /
            <a href="#">注冊</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <!--輪播圖的窗口-->
            <div class="banner-group" id="banner-group">
                <!--輪播圖本體-->
                <ul class="banner-url" id="banner-url">
                    <li><a href="#"> <img src="https://static-image.xfz.cn/1523588994_243.jpg" alt=""></a></li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1523504442_455.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1521444982_469.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1522742329_629.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://static-image.xfz.cn/1525669927_166.jpg" alt="">
                        </a>
                    </li>
                </ul>
                <!--輪播圖左右箭頭-->
                <span class="arrow left-arrow">‹</span>
                <span class="arrow right-arrow">›</span>
                <div class="page-control-group"><!--輪播圖的小點大盒 -->
                    <ul class="page-control"><!--輪播圖的小點 -->


                    </ul>
                </div>

            </div>
        </div>
        <div class="sidebar-wrapper"></div>
    </div>
</div>
</body>
</html>